<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../content/css/bootstrap.css">
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    @RenderBody()
  </body>
</html>
