@{
  Layout = "Shared/_Layout.cshtml";
}

<br>
<br>
<br>
<br>
<div class="container">
  <form action="/counter" method="post">
    <label for="word">Enter your single word to find: </label>
    <input type="text" name="word">
    <br>
    <br>
    <label for="sentence">Enter your sentence to be searched: </label>
    <input type="text" name="sentence">
    <br>
    <br>
    <button type="submit" name="btn btn-danger btn-lg">Submit</button>
  </form>
</div>
