@{
  Layout = "Shared/_Layout.cshtml";
}

<br>
<br>
<br>
<br>
<div class="container" style="text-align: center">
  <h4>You've enter a sentence!</h4>
  <p>Your sentence: @Model.GetUserSentence()</p>
  <p>Your word: @Model.GetUserWord()</p>
  <p>Your sentence repeats the word: @Model.GetUserWord(), @Model.CountRepeats() time(s).</p>
  <br>
  <p><a href="/">Home</a></p>
</div>
